.text-center {
    text-align: center;
  }
  
  .bg-red {
    background-color: #8d6bdb;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }